:root {
    --container-bg-color : #333;
    --left-gb-color : rgba(2, 23, 36, 0.7);
    --left-button-hover-color : rgba(161, 11, 11, 0.3);
    --right-bg-color : rgba(43, 43, 43, 0.8);
    --right-button-hover-color : rgba(92, 92, 92, 0.3);
    --hover-width : 75%;
    --other-width : 25%;
    --speed : 1000ms;
}

html, body {

    padding: 0;
    margin : 0;
    
    
    width : 100%;
    height: 100%;
    overflow-x: hidden;
}
h2{
    font-size: 2rem;
    color: #fff;
    position: absolute;
    font-style: italic;
    font-family: sans-serif;
    left: 50%;
    top : -35%;
    transform: translateX(-50%);
    white-space: nowrap;
}
#title{
    font-size: 3rem;
    text-align: center;
    color: #fff;
    font-style: italic;
    font-family: sans-serif;
    position: absolute;
    left: 50%;
    top : -2%;
    transform: translateX(-50%);
    white-space: nowrap;
    
}
.button {
    display: block;
    position: absolute;
    left: 50%;
    top : 40%;
    height: 2.5rem;
    padding-top: 1.3rem;
    width: 15rem;
    text-align: center;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);

}
.button1 {
    display: block;
    position: absolute;
    left: 50%;
    top : 55%;
    height: 2.5rem;
    padding-top: 1.3rem;
    width: 15rem;
    text-align: center;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);

}

.admin.left .button:hover {
    background-color: var(--left-button-hover-color);
    border-color: var(--left-button-hover-color);
}

.user.right .button:hover {
    background-color: var(--right-button-hover-color);
    border-color: var(--right-button-hover-color);
}
.user.right .button1:hover {
    background-color: var(--right-button-hover-color);
    border-color: var(--right-button-hover-color);
}

.container {
    position: relative;
    width:  100%;
    height: 100%;
    background-color: var(--container-bg-color);
}
.admin, .user {
    position: absolute;
    width : 50%;
    height: 100%;
    overflow: hidden;
}
.admin.left{
    left : 0;
    background : url('../img/back2.jpeg') center center no-repeat;
    background-size: cover;
}
.admin.left:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--left-gb-color);
}
.user.right{
    right : 0;
    background: url('../img/back1.jpeg') center center no-repeat;
    background-size: cover;
}
.user.right:before {

   position: absolute;
   content: "";
   width: 100%;
   height: 100%;
   background: var(--right-bg-color);
}

.admin.left , .user.right, .admin.left:before, .user.right:before {

    transition: var(--speed) all ease-in-out;
}

.hover-left .left {
    width: var(--hover-width);

}

.hover-left .right {
    width: var(--other-width);
}
.hover-left .right:before {
    z-index: 2;
}

.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left {
    width: var(--other-width);
}

.hover-right .left:before{
    z-index: 2;
}

.box {
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translateX(-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}
.box .inputBox
{
    position: relative;
}
.box .inputBox input 
{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border : none;
    border-bottom : 1px solid #fff;
    outline: none;
    background: transparent;
}

.box .inputBox label 
{
    position: absolute;
    top: 0;
    left : 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color : #fff;
    pointer-events: none;
    transition: .5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
    top: -18px;
    left: 0;
    color: rgb(10, 172, 247);
    font-size: 12px;
}
.box input[type="submit"]
{
    background : transparent;
    border : none;
    outline: none;
    color : #fff;
    background : rgb(10, 172, 247);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;

}
.sup{
    background : transparent;
    border : none;
    outline: none;
    color : #fff;
    background : rgb(6, 223, 125);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
 
}

.wrapper {

    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-auto-rows: minmax(100px);
    overflow-x: auto;
    background: rgb(224, 222, 222);
    overflow-x: auto;
   

}
.wrapper1 {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    grid-auto-rows: minmax(100px);
    overflow-x: auto;
    background: rgb(253, 253, 253);
    overflow-x: auto;
   

}
.wrapper > div {

   
    padding: 1em;
    margin: 7px;

}
.wrapper1 > div {

   
    padding: 1em;
    margin: 7px;
  

}


.nav{
    grid-column: 1/4;
    align-self: start;
    background : rgba(76, 91, 100, 0.425);
    border-radius: 5px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color : #fff;
    font-size: 20px;
    text-shadow: #333;
    font-weight: bold;
    font-style: italic;
    border-radius: 4px;
    
    
}
.create {
    
    background : rgb(194, 191, 191);
   
    border-radius: 4px;
 

}
.create1 {
    grid-row: 2/4;
    
    background : rgba(231, 228, 228, 0.74);
   
    border-radius: 4px;
 

}
.ctext{
    text-align: center;
    color: rgba(41, 38, 38, 0.678);
}
.meetup {
    grid-column: 2/4;
   
    background: rgb(194, 191, 191);
    border-radius: 4px;

}
.meetup1 {
    grid-column: 2/4;
   
    background: rgba(231, 228, 228, 0.74);
    border-radius: 4px;

}
.deleted{
    
    grid-column: 2;
    background : rgba(231, 228, 228, 0.74);
    border-radius: 4px;
    
}
.iquestion{

background : rgba(231, 228, 228, 0.74);
border-radius: 4px;
}
.delmeetup
{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
i{
    color: rgba(79, 128, 219, 0.747);
}
table
{
    
    border-collapse: collapse;
    opacity: 0.95;
    width: 100%;
}
th 
{
    background:  rgba(67, 79, 87, 0.418);
    color : rgb(19, 17, 17);
}

tr:nth-child(even)
{
    background: #e8e8e8;
}
tr:nth-child(odd)
{
    background-color : white;
}
th, td
{
    text-align: center;
    padding: 10px;
}
article
{
    overflow-x: auto;
}
mark{
    
}
.del {
        background-color: rgb(110, 43, 48); /* Green */
        border: none;
        color: white;
        padding: 5px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        cursor: pointer;
        border-radius: 5px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
      
}
.del:hover{
    background-color: rgb(223, 30, 30); /* Green */
    color: white;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }
  
  ul li {
    border: 1px solid #ddd; /* Add a thin border to each list item */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Add a grey background color */
    padding: 12px; /* Add some padding */
  }
  li:hover{
      background: rgba(143, 141, 141, 0.5);
      cursor: pointer;
  }
  input[type="checkbox"]
  {
      cursor: pointer;
  }