<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/form.css">
    <title>Admin workSpace</title>
</head>

<body>

    <div class="wrapper1">
        <div class="nav">
                <div class="topnav" id="myTopnav">
                        <span class="tnav">Hey Admin @Clara_Bush, enyoy questioner :)</span>
                       <a href="../index.html">Signout</a>
                       
                       
                        <a href="#">About us</a>
                        
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                          
                        </a>
                      </div>
        </div>

        <div class="create1">
            <h3 class="ctext">Create a Meetup</h3>
            <div class="formcontainer">
                <form action="">

                    <div class="row">
                        <div class="labelrow">
                            <label for="subject">Meetup topic</label>
                        </div>
                        <div class="inputrow">
                            <input type="text" id="subject" name="subject" placeholder="The meetup topic">
                        </div>

                    </div>
                    <div class="row">
                        <div class="labelrow">
                            <label for="mdate">Meetup date</label>
                        </div>
                        <div class="inputrow">
                            <input type="date" id="mdate" name="mdate" placeholder="">
                        </div>

                    </div>
                    <div class="row">
                        <div class="labelrow">
                            <label for="domain">Meetup domain</label>
                        </div>
                        <div class="inputrow">
                            <select name="domain" id="">
                                <option value="" class="">Computer science</option>
                                <option value="" class="">Geography</option>
                                <option value="" class="">Electronic</option>
                                <option value="" class="">Internet of things</option>
                            </select>
                        </div>

                    </div>
                    <div class="row">
                            <div class="labelrow">
                                <label for="core">Top questions related to this meetup</label>
                            </div>
                            <div class="inputrow">
                                <ul>
                                    <li> <input type="checkbox"> is it possible to be a software developer these days without using JavaScript in some way?. </li>
                                    <li> <input type="checkbox"> is it possible to be a software developer these days without using JavaScript in some way?. </li>
                                    <li> <input type="checkbox"> is it possible to be a software developer these days without using JavaScript in some way?. </li>
                                  
                                </ul>
                                
                            </div>
    
                        </div>
                    <div class="row">
                        <div class="labelrow">
                            <label for="core">Meetup description</label>
                        </div>
                        <div class="inputrow">
                            
                            <textarea name="core" id="core" cols="30" rows="10" placeholder="Core meetup"></textarea>

                        </div>

                    </div>
                    
                    <div class="row">
                        <div class="labelrow">
                            <label for="participant">Add participants</label>
                        </div>

                        <div class="inputrow">
                            <ul>
                                <li><input type="checkbox" name="" id="">Emmanuel BUSH <br></li>
                                <li><input type="checkbox" name="" id="">Gaëtan ARUHA <br></li>
                                <li><input type="checkbox" name="" id="">Queen Clara BUSH <br></li>
                            </ul>
                           
                        </div>

                    </div><br>
                    <div class="row">
                        <input type="submit" value="create">
                    </div>

                </form>
            </div>

        </div>
        <div class="meetup1">
            <h3 class="ctext">All meetups</h3>

            <article>

                <table align="center">

                    <tr>
                        <th>Subject</th>
                        <th>date meetup</th>
                        <th>participants</th>
                        <th>action</th>
                    </tr>
                    <tr>
                        <td>The bootcamp first day</td>
                        <td>2019 jan 14th</td>
                        <td><mark>45 </mark></td>
                        <td><button class="del">Delete</button></td>
                    </tr>
                    <tr>
                        <td>The bootcamp first day</td>
                        <td>2019 jan 14th</td>
                        <td><mark>45 </mark></td>
                        <td><button class="del">Delete</button></td>
                    </tr>
                    <tr>
                        <td>The bootcamp first day</td>
                        <td>2019 jan 14th</td>
                        <td><mark>45 </mark></td>
                        <td><button class="del">Delete</button></td>
                    </tr>
                    <tr>
                        <td>The bootcamp first day</td>
                        <td>2019 jan 14th</td>
                        <td><mark>45 </mark></td>
                        <td> <button class="del">Delete</button> </td>
                    </tr>
                </table>
            </article>
        </div>
        <div class="deleted">
            <h3 class="ctext">Deleted meetups</h3>

            <ul>
                <li>
                    <span class="idmeetup"><strong>1.</strong> Photoshop, the most popular softwar <br>
                        <i>Deleted on Tuesday 13th september 2019</i><br>
                    </span>
                </li>
            </ul>
            <ul>
                <li>
                    <span class="idmeetup"><strong>1.</strong> Photoshop, the most popular softwar <br>
                        <i>Deleted on Tuesday 13th september 2019</i><br>
                    </span>
                </li>
            </ul>
            <ul>
                <li>
                    <span class="idmeetup"><strong>1.</strong> Photoshop, the most popular softwar <br>
                        <i>Deleted on Tuesday 13th september 2019</i><br>
                    </span>
                </li>
            </ul>
            <ul>
                <li>
                    <span class="idmeetup"><strong>1.</strong> Photoshop, the most popular softwar <br>
                        <i>Deleted on Tuesday 13th september 2019</i><br>
                    </span>
                </li>
            </ul>
            <ul>
                <li>
                    <span class="idmeetup"><strong>1.</strong> Photoshop, the most popular softwar <br>
                        <i>Deleted on Tuesday 13th september 2019</i><br>
                    </span>
                </li>
            </ul>



        </div>
        <div class="iquestion">
            <h3 class="ctext">Most interesting questions</h3>
            <div class="ulist">
                <ul>
                    <li>Hom many variables can be captured from a passive event produced by an unexpected action <br>
                        <i>By EMA BUSH <strong>120 upvotes</strong></i>
                    </li>
                    <li>Hom many variables can be captured from a passive event produced by an unexpected action<br>
                        <i>By EMA BUSH <strong>120 upvotes</strong>, posted on Thursday 20th january 2019</i>
                    </li>
                    <li>Hom many variables can be captured from a passive event produced by an unexpected action<br>
                        <i>By EMA BUSH <strong>120 upvotes</strong></i>
                    </li>
                    <li>Hom many variables can be captured from a passive event produced by an unexpected action<br>
                        <i>By EMA BUSH <strong>120 upvotes</strong></i>
                    </li>
                    <li>Hom many variables can be captured from a passive event produced by an unexpected action<br>
                        <i>By EMA BUSH <strong>120 upvotes</strong></i>
                    </li>
                    <li>Hom many variables can be captured from a passive event produced by an unexpected action<br>
                        <i>By EMA BUSH <strong>120 upvotes</strong></i>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <script src="../js/main.js"></script>
</body>

</html>