<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/register.css">
    <title>User</title>
</head>
<body>
    <div class="box">
       <h2>Create an account</h2>
       <form action="userspace.html">

          <div class="inputBox">
             <input type="text" name="" required>
             <label for="">user name</label>

          </div>
         
         <div class="inputBox">
                  <input type="text" name="" required>
                  <label for="">domain</label>
     
            </div>
         <div class="inputBox">
               <input type="email" name="" required>
               <label for="">email address</label>
  
         </div>
         <div class="inputBox">
                  <input type="file" name="" >
                  <label for="">Your photo</label>
     
            </div>
   

          <div class="inputBox">
                <input type="password" name="" required>
                <label for="">password</label>
   
         </div>
         <div class="inputBox">
               <input type="password" name="" required>
               <label for="">Verify password</label>
  
        </div>

             <input type="submit" name="" value="Sign up">
             <a href="../index.html" type="button" class="back" name="" > back</a>
       </form>

    </div>
    
</body>
</html>